body {
	font-size: small; /* 新的属性值，请自行了解 */
	font-family: Verdana,Helvetica, Arial;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}
body {
  font-size:small ;
  font-family: Verdana,Helvetica,Arial;
  line-height:1.6em ;
}
p,body,h1 {
  margin:0;
  padding:0;
}
.guarantee{
  border-color: black;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
  font-family: "Cascadia Mono";
}
.guarantee{
  background:#a7cece url(images/background.gif);
  background-repeat: no-repeat;
  background-position:top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-style: dashed;
  border-width: medium;
  border-color: white;
  border-bottom-style: dashed;
  border-radius: 15px;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}